/*font-family: 'Lato', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;*/
body {
    background-color: hsl(273, 0%, 11%);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.95em;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 150px;
    
}
a {
    color: #00aa86;
}
h1 {
    color: #00aa86;
    text-align: center;
    font-family: 'Palatino Linotype', serif;
    font-size: 60px;
    margin-bottom: -35px;
    margin-top: 60px;
}
h3 {
    color: white;
    text-align: center;
    font-family: 'Palatino Linotype', serif;
    font-style: italic;
    font-size: 30px;
}
h2 {
    color: #00aa86;
    text-align: center;
    font-family: 'Palatino Linotype', serif;
    font-size: 50px;
    margin-top: 60px;
    border-bottom: 2px solid #00aa86;
}

/*NAVIGATION BAR*/
#navBar {
    background-color: hsl(273, 0%, 11%);
    width: 100%;
}
#navBarContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#navBar img {
    width: 120px;
}
#leftNav {
    text-align: right;
    width: 150px;
}
#rightNav {
    text-align: left;
    width: 150px;
    
}#leftNav div a, #rightNav div a  {
    text-decoration: none;
}
#leftNav div a div, #rightNav div a div  {
    margin: 2px;
    padding: 2px;
}
#leftNav div.navSubPage a div, #rightNav div a div.navSubPage {
    border: 2px solid hsl(273, 0%, 11%);
    color: white;
    font-size: 20px;
} #leftNav div.navSubPage a div:hover, #rightNav div a div.navSubPage:hover {
    border-bottom-color: white;
    transition: all 0.5s ease;
}
.navMainPage {
    color: #00aa86;
    font-size: 32px;
    font-weight: bold;
    border: 2px solid hsl(273, 0%, 11%);
    border-bottom-color: #00aa86;
} .navMainPage:hover {
    color: #009776;
    border-bottom-color: hsl(273, 0%, 11%);
    transition: border-bottom-color 0.1s ease;
}


/*LAOUTS BLOCKS*/
.layoutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.layoutBlock {
    background-color: rgb(27, 27, 27);
    box-shadow: 2px 2px 10px -2px #00aa86;
    border-radius: 10px;
    width: 300px;
    padding: 2px 20px 5px 20px;
    margin: 7px;
    font-size: 0.90em;
}
.layoutBlock div {
    width: fit-content;
    border-bottom: 2px solid #00aa86;
    margin: 0 auto;
    font-size: 120%;
}

/*FEATURES BLOCK*/
.featuresContainer span{
    font-weight: bold;
}

/*TEAM MEMBER BLOCKS*/
.teamMemberBlock {
    width: 650px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    background-color:rgb(27, 27, 27);
    box-shadow: 2px 2px 10px -2px #00aa86;
    display: flex;
    flex-direction: row;
}
.teamMemberBlock img {
    width: 180px;
}
.teamMemberBlock .teamMemberText {
    padding-left: 30px;
}
.teamMemberBlock .teamMemberName {
    font-family: 'Palatino Linotype', serif;
    font-size: 170%;
}
.teamMemberBlock .teamMemberRole {
    font-size: 90%;
    padding-bottom: 10px;
}


/*DESIGN VALUES BLOCK*/
.designValueBlock {
    padding: 10px;
}
.designValueBlock div {
    font-family: 'Palatino Linotype', serif;
    font-size: 130%;
    font-style: italic;
    font-weight: bold;
}


.contactEmail {
    font-size: 120%;
    font-weight: bold;
    font-family: 'Palatino Linotype', serif;
    padding: 10px;
    margin: 0px;
}
#posterImage {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color:rgb(27, 27, 27);
    box-shadow: 3px 3px 15px 0px black;
}



@media only screen and (max-width: 1000px) {
    body {
        padding-left: 8%;
        padding-right: 8%;
    }
}