:root {
  --background-color: #491111;
  --background-accent: #330d0d;
  --background-active: #7e0a0a;
  --background-hover: #830000;
  --background-text: #dddddd;

  --line-color: #727272;
  --line-accent: #cfcfcf;

  --nav-accent: #bb0000;
  --text-accent: #dddddd;

  --button-color: #7a0041;
  --button-accent: #440024; /*active/depressed*/
  --button-text: #eeeeee;
  --button-hover: #be0065;

  --link-color: #3a0505;
  --link-text: #eeeeee;
  --link-hover: #1a0808;

  --alert-color: #7b32db;
  --alert-text: #eeeeee;
  --alert-hover: #8a5cc5;}