:root {
    --background-color: #2c2c2c; /*main*/
    --background-accent: #202020; /*dark*/
    --background-active: #0e0e0e; /*active*/
    --background-text: #eeeeee;
    --background-hover: #4d4d4d; /*light*/

    --line-color: #202020;

    --nav-accent: #407e6b;

    --button-color: #407e6b;
    --button-accent: #034b35; /*active/depressed*/
    --button-text: #eeeeee;
    --button-hover: #127054;

    --link-color: #202020;
    --link-text: #eeeeee;
    --link-hover: #4d4d4d;

    --alert-color: #791313;
    --alert-text: #eeeeee;
    --alert-hover: #ad2020;
}