:root {
  --background-color: #2c2c2c; /*main*/
  --background-accent: #202020; /*dark*/
  --background-active: #0e0e0e; /*active*/
  --background-hover: #4d4d4d; /*light*/
  --background-muted: #3a3a3a; /*light*/
  --background-text: #eeeeee;

  --line-color: #202020;

  --line-accent: #005f43;
  --nav-accent: #407e6b;
  --text-accent: #3cbb95;

  --button-muted: #264b40;
  --button-color: #407e6b;
  --button-accent: #034b35; /*active/depressed*/
  --button-text: #eeeeee;
  --button-hover: #0fa176;

  --link-color: #202020;
  --link-text: #eeeeee;
  --link-hover: #4d4d4d;

  --alert-muted: #4b2121;
  --alert-color: #791313;
  --alert-text: #eeeeee;
  --alert-hover: #ad2020;
}