
:root {
    --main-text-color: #1d1d1d;
    --secondary-text-color: #ececec;
  
    --light-background-color: #ffffff;
    --main-background-color: #e7e7e7;
    --dark-background-color: #d1d1d1;
    --active-background-color: #afafaf;
  
    --light-accent-color: #92ffde;
    --main-accent-color: #61d4b2;
    --dark-accent-color: #50a189;
    --active-accent-color: #58ffcd;
  }