
:root {
    --background-color: #e7e7e7; /*main*/
    --background-accent: #d1d1d1; /*dark*/
    --background-active: #afafaf; /*active*/
    --background-text: #1d1d1d;
    --background-hover: #ffffff; /*light*/

    --line-color: #ffffff;

    --nav-accent: #0d664a;

    --button-color: #61d4b2;
    --button-accent: #92ffde; /*active/depressed*/
    --button-text: #ffffff;
    --button-hover: #50a189;

    --link-color: #dbdbdb;
    --link-text: #1d1d1d;
    --link-hover: #cfcfcf;

    --alert-color: #e06767;
    --alert-text: #ffffff;
    --alert-hover: #f57d7d;
    
    --success-color: #407e6b;
  }