.grid {
    position: relative;
    display: block;
}

.item {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 5px;
    z-index: 1;
}

.item-content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--dark-background-color);
}

.item.muuri-item-dragging {
    z-index: 2;
}

.item.muuri-item-releasing {
    z-index: 3;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.muuri-item-dragging .item-content, .item.muuri-item-releasing .item-content {
    background: var(--light-background-color);
}